Repository MichaelTrueX/galacticgenisis: changes, and which lint-staged commands are due for each by the changed paths.
All: npx -y eslint --fix, npx -y prettier -w

chore: relax no-explicit-any in modern ESLint config as well
  .eslintrc.cjs
  eslint.config.js
  package-lock.json
  package.json
  services/fleets-svc/src/__tests__/patch.test.ts
  services/fleets-svc/src/index.ts
Due: npx -y eslint --fix, npx -y prettier -w

tests: disable no-require-imports in ws-proxy test to allow CommonJS-style mock
  services/api-gateway/test/ws-proxy.test.ts
Due: npx -y eslint --fix, npx -y prettier -w

tests: increase timeout for ws-proxy presence test to avoid flake
  services/api-gateway/test/ws-proxy.test.ts
Due: npx -y eslint --fix, npx -y prettier -w

tests(gateway): close app in ws-proxy presence test to avoid lingering handles
  services/api-gateway/test/ws-proxy.test.ts
Due: npx -y eslint --fix, npx -y prettier -w

tests(gateway): make ws-proxy presence test deterministic via root index; avoid Node require in mocks
  services/api-gateway/test/ws-proxy.test.ts
Due: npx -y eslint --fix, npx -y prettier -w

orders-svc: add resupply order validation and worker handling with tests; fix ESLint catches
  services/orders-svc/src/index.ts
  services/orders-svc/test/resupply.test.ts
Due: npx -y eslint --fix, npx -y prettier -w

tests+dispatcher: add fleets proxy CRUD tests; subscribe to fleet.*; fix no-empty catch in dispatcher; all tests green
  services/api-gateway/test/fleets-proxy-crud.test.ts
  services/event-dispatcher/src/index.ts
  services/event-dispatcher/tsconfig.json
  services/fleets-svc/test/fleets-crud.test.ts
  services/fleets-svc/tsconfig.json
Due: npx -y eslint --fix, npx -y prettier -w

dispatcher+gateway tests: add fleet.resupplied topic smoke test; gateway resupply validation test; test fixes; all green
  services/api-gateway/test/orders-proxy-resupply-validation.test.ts
  services/event-dispatcher/test/fleet-resupplied.test.ts
Due: npx -y eslint --fix, npx -y prettier -w

tests(orders): silence unused var in worker-resupply unit-ish; all tests green
  docs/SMOKE_TEST.md
  scripts/smoke.sh
  services/api-gateway/test/orders-proxy-resupply.test.ts
  services/orders-svc/test/worker-resupply.test.ts
Due: npx -y eslint --fix, npx -y prettier -w

docs+make: add env-vars section; smoke-resupply make target; expand smoke script/docs for resupply
  Makefile
  README.md
Due: npx -y prettier -w

phase 1-3: worker event tests; dispatcher iterator test; fleets GET by id; gateway proxy; healthz/readyz; eslint fixes; all tests green
  services/api-gateway/src/index.ts
  services/api-gateway/test/fleets-proxy-get-by-id.test.ts
  services/event-dispatcher/test/events-iterate.test.ts
  services/fleets-svc/src/index.ts
  services/fleets-svc/test/fleets-get-by-id.test.ts
  services/orders-svc/src/index.ts
  services/orders-svc/test/worker-events.test.ts
Due: npx -y eslint --fix, npx -y prettier -w

phase 4-5: smoke.sh --ws option; Makefile test-dispatcher and aggregate; docs/SMOKE_TEST updated; all tests green
  Makefile
  docs/SMOKE_TEST.md
  scripts/smoke.sh
Due: npx -y prettier -w

compose+docs+ci: add service healthchecks to compose override; README troubleshooting; smoke.yml already uploads artifacts; all tests previously green
  README.md
  deploy/docker-compose.override.yml
Due: npx -y prettier -w

dispatcher: add /healthz via http server, share port with ws; compose healthchecks now valid; all tests green
  services/event-dispatcher/src/index.ts
Due: npx -y eslint --fix, npx -y prettier -w

fleets-svc: add /healthz and /readyz endpoints for compose healthchecks; tests unchanged; green
  services/fleets-svc/src/index.ts
Due: npx -y eslint --fix, npx -y prettier -w

Makefile: add smoke-ws target to run scripts/smoke.sh --ws; help text updated
  Makefile
Due: none

dispatcher: add /readyz endpoint alongside /healthz to match compose readiness probes
  services/event-dispatcher/src/index.ts
Due: npx -y eslint --fix, npx -y prettier -w

tests(dispatcher): assert that ws broadcast sends to a connected client; keep tests fast
  services/event-dispatcher/test/events-iterate.test.ts
Due: npx -y eslint --fix, npx -y prettier -w

infra: postgres and nats healthchecks in base compose; keeps CI and local smoke robust
  deploy/docker-compose.yml
Due: npx -y prettier -w

openapi: expand spec to include orders list/get and fleets create/update/get; aligns with current gateway surface
  apis/space4x/openapi-v1.yaml
Due: npx -y prettier -w

ci(smoke): install websocat and enable --ws assertion in smoke run to catch WS regressions
  .github/workflows/smoke.yml
Due: npx -y prettier -w

compose: wire depends_on with health conditions across services to reduce boot flakiness
  deploy/docker-compose.override.yml
Due: npx -y prettier -w

dispatcher: make /readyz reflect NATS connectivity (503 when disconnected) for better orchestration signaling
  services/event-dispatcher/src/index.ts
Due: npx -y eslint --fix, npx -y prettier -w

make: include event-dispatcher in lint-types target for consistency
  Makefile
Due: none

ci: include event-dispatcher job in unit test workflow
  .github/workflows/ci.yml
Due: npx -y prettier -w

gateway tests: cover GET /v1/orders/:id proxy path
  services/api-gateway/test/orders-proxy-get-by-id.test.ts
Due: npx -y eslint --fix, npx -y prettier -w

ci(lint): type-check event-dispatcher in lint workflow
  .github/workflows/lint.yml
Due: npx -y prettier -w

gateway: expand root index to list all key endpoints for manual testing
  services/api-gateway/src/index.ts
Due: npx -y eslint --fix, npx -y prettier -w

docs: update dispatcher README and root README to reflect current endpoints and readiness behavior
  README.md
  services/event-dispatcher/README.md
Due: npx -y prettier -w

gateway tests: assert root index lists endpoints for manual testing
  services/api-gateway/test/root-index.test.ts
Due: npx -y eslint --fix, npx -y prettier -w

gateway: aggregated /readyz that checks orders/fleets/dispatcher; tests; smoke waits for readiness; docs updated
  docs/SMOKE_TEST.md
  scripts/smoke.sh
  services/api-gateway/src/index.ts
  services/api-gateway/test/readyz-aggregator.test.ts
Due: npx -y eslint --fix, npx -y prettier -w

Path conditions:
  npx -y eslint --fix: any of: **/*.{ts,tsx}
  npx -y prettier -w: any of: **/*.{ts,tsx,js,jsx,md,json,yml,yaml}
